################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/V2CSolutions/.vs/V2CSolutions/v15/Server/sqlite3
